In [157]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

In [87]:
pf = pd.read_csv("listings.csv")

Quel sont les pourcentages d'acceptation et de r√©ponse moyen des host ?

In [88]:
pf.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [89]:
listGroupbyNeight =  pf.groupby(pf.neighbourhood_group_cleansed)
listGroupbyNeight.host_id.nunique()

neighbourhood_group_cleansed
Ambars-et-Lagrave               65
Ambs                            49
Artigues-Prs-Bordeaux           91
Bassens                         30
Bgles                          375
Blanquefort                     97
Bordeaux                      4622
Bouliac                         72
Bruges                         163
Carbon-Blanc                    42
Cenon                          203
Eysines                        133
Floirac                        122
Gradignan                      159
Le Bouscat                     270
Le Haillan                      43
Le Taillan-Mdoc                 68
Lormont                        118
Martignas-sur-Jalle             58
Merignac                       518
Parempuyre                      51
Pessac                         427
Saint-Aubin-de-Mdoc             80
Saint-Louis-de-Montferrand      12
Saint-Mdard-en-Jalles          188
Saint-Vincent-de-Paul           28
Talence                        429
Villenave-d'Ornon              287
Name: host_id, dtype: int64

In [90]:
listGroupbyNeight.number_of_reviews.sum()

neighbourhood_group_cleansed
Ambars-et-Lagrave                904
Ambs                            1714
Artigues-Prs-Bordeaux           2519
Bassens                          488
Bgles                           9599
Blanquefort                     2161
Bordeaux                      190852
Bouliac                         2532
Bruges                          3011
Carbon-Blanc                    1038
Cenon                           6484
Eysines                         2824
Floirac                         5696
Gradignan                       4002
Le Bouscat                      6257
Le Haillan                       893
Le Taillan-Mdoc                 1098
Lormont                         3136
Martignas-sur-Jalle              968
Merignac                       12829
Parempuyre                      1641
Pessac                         15127
Saint-Aubin-de-Mdoc             1199
Saint-Louis-de-Montferrand       161
Saint-Mdard-en-Jalles           5576
Saint-Vincent-de-Paul            812
Talence                        13571
Villenave-d'Ornon               9264
Name: number_of_reviews, dtype: int64

In [91]:
listGroupbyNeight.number_of_reviews.count()

neighbourhood_group_cleansed
Ambars-et-Lagrave               69
Ambs                            57
Artigues-Prs-Bordeaux          111
Bassens                         32
Bgles                          410
Blanquefort                    113
Bordeaux                      6051
Bouliac                         95
Bruges                         183
Carbon-Blanc                    50
Cenon                          230
Eysines                        156
Floirac                        137
Gradignan                      190
Le Bouscat                     297
Le Haillan                      45
Le Taillan-Mdoc                 80
Lormont                        133
Martignas-sur-Jalle             71
Merignac                       597
Parempuyre                      57
Pessac                         532
Saint-Aubin-de-Mdoc             88
Saint-Louis-de-Montferrand      16
Saint-Mdard-en-Jalles          238
Saint-Vincent-de-Paul           33
Talence                        494
Villenave-d'Ornon              320
Name: number_of_reviews, dtype: int64

ON A DONC LA REPONSE A LA QUESTION 1

In [92]:
truc = pf[["room_type","amenities"]]
truc.amenities = truc.amenities.astype("string")
truc["lenght"] = truc.amenities.str.count(",")
truc["lenght"] = truc.lenght.astype(int)
truc.lenght.apply(lambda x:x+1)

/tmp/ipykernel_5780/2931620437.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  truc.amenities = truc.amenities.astype("string")
/tmp/ipykernel_5780/2931620437.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  truc["lenght"] = truc.amenities.str.count(",")
/tmp/ipykernel_5780/2931620437.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  truc["lenght"] = truc.lenght.astype(int)

0        39
1        37
2        30
3        25
4        35
         ..
10880    60
10881    40
10882    40
10883    63
10884    48
Name: lenght, Length: 10885, dtype: int64

In [93]:
q1 = truc.groupby("room_type").mean()

/tmp/ipykernel_5780/3601735976.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  q1 = truc.groupby("room_type").mean()

In [94]:
q1.to_csv("premiere_question.csv")

In [95]:
q1_2 = truc.groupby("room_type").std() 
q1_2.to_csv("premierequestiond.csv")

/tmp/ipykernel_5780/2260980100.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  q1_2 = truc.groupby("room_type").std()

In [150]:
q3 = q1 +

In [151]:
q3

                    lenght
room_type
Entire home/apt  40.782157
Hotel room       39.636636
Private room     32.803771
Shared room      22.369180

In [96]:
listingPrice = pf[["room_type","price"]]
listingPrice["price"] = listingPrice["price"].str.replace("$","").str.replace(",","").astype("float")
quartile_et_autre = listingPrice.groupby(listingPrice.room_type).describe()

/tmp/ipykernel_5780/2103419292.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  listingPrice["price"] = listingPrice["price"].str.replace("$","").str.replace(",","").astype("float")
/tmp/ipykernel_5780/2103419292.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listingPrice["price"] = listingPrice["price"].str.replace("$","").str.replace(",","").astype("float")

In [152]:
quartile_et_autre

                  price                                                       \
                  count        mean         std   min     25%    50%     75%
room_type
Entire home/apt  8278.0  119.815449  174.163674  12.0   60.00   84.0  130.00
Hotel room         45.0  146.311111   85.464193   0.0  100.00  131.0  169.00
Private room     2494.0   60.055734   75.827128  10.0   30.00   40.0   60.00
Shared room        68.0   51.500000   47.769190   9.0   25.75   42.5   49.25


                    max
room_type
Entire home/apt  8890.0
Hotel room        391.0
Private room     1492.0
Shared room       275.0

VOICI LA REPONSE A :Quel est le prix median par type de room, le maximum, le minimum, le premier et le troisi√®me quartile?

In [97]:
quartile_et_autre.to_csv("quartile_et_autre.csv")

In [98]:
pf.host_acceptance_rate.str.rstrip("%").astype(float).mean()

82.1015107341638

In [99]:
pf.host_response_rate.str.rstrip("%").astype(float).mean()

93.4806598407281

In [100]:
pf.replace(to_replace="work_email", value='work', regex=True,inplace=True)

In [101]:
listingPhone =  pf["host_verifications"].apply( lambda x : 1 if "phone" in x else 0).sum()



listingWorkEmail = pf["host_verifications"].apply( lambda x : 1 if "work" in x else 0).sum()


listingEmail = pf["host_verifications"].apply( lambda x : 1 if "email" in x else 0).sum()

ON PASSE A LA QUESTION SUR LES BATHS

In [102]:
pf.bathrooms_text.unique()

array(['1.5 baths', '3 baths', '1 bath', '1 private bath', nan, '2 baths',
       '1 shared bath', 'Shared half-bath', '4 baths', '8 baths',
       '5 baths', '4.5 baths', '2.5 baths', '0 baths', '1.5 shared baths',
       '3.5 baths', 'Half-bath', '3 shared baths', '6 baths', '5.5 baths',
       '7 baths', '0 shared baths', '2.5 shared baths',
       'Private half-bath', '2 shared baths', '6.5 baths',
       '4 shared baths', '11.5 baths', '7.5 baths'], dtype=object)

In [103]:
pf.bathrooms_text = pf.bathrooms_text.astype("string")

In [104]:
pf.bathrooms_text.dtypes

string[python]

In [105]:
pf.dropna(subset = ['bathrooms_text'])

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,579652405189065070,https://www.airbnb.com/rooms/579652405189065070,20220912200234,2022-09-12,city scrape,Appartement cosy dans centre historique de Bourg,"Dans le centre historique de Bourg, id√©alement...",Vous vous situez dans le centre historique de ...,https://a0.muscache.com/pictures/miso/Hosting-...,15134863,...,5.00,5.00,4.93,NaN,t,1,1,0,0,2.74
1,49797548,https://www.airbnb.com/rooms/49797548,20220912200234,2022-09-12,city scrape,Maison de vacances entre Bordeaux et le Bassin,Villa moderne id√©alement situ√©e entre Bordeaux...,Ballades √† pied ou √† v√©lo dans la foret: 5 v√©l...,https://a0.muscache.com/pictures/miso/Hosting-...,83677621,...,5.00,5.00,5.00,NaN,f,1,1,0,0,0.21
2,218103,https://www.airbnb.com/rooms/218103,20220912200234,2022-09-13,city scrape,B&B Apart.Suite / tropical garden,"<b>The space</b><br />The Bambooyard : ""Le cl...",NaN,https://a0.muscache.com/pictures/9ba23c8f-4780...,1127981,...,4.96,4.57,4.54,NaN,f,4,4,0,0,0.44
3,1117474,https://www.airbnb.com/rooms/1117474,20220912200234,2022-09-13,city scrape,INCROYABLE T3 EN HYPERCENTRE,<b>The space</b><br />In the heart of the hist...,NaN,https://a0.muscache.com/pictures/20359851/80f7...,6133211,...,4.88,4.93,4.80,330630009852A,f,1,1,0,0,3.31
4,1136724,https://www.airbnb.com/rooms/1136724,20220912200234,2022-09-12,city scrape,"Spacious house, 4 guests with Garden & Garage","BOOK A STREET ART HOUSE! Cozy, colorful and cl...",NaN,https://a0.muscache.com/pictures/b876925a-2b69...,3774373,...,4.91,4.62,4.70,33063003349C9,t,4,4,0,0,4.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10880,591221838086690180,https://www.airbnb.com/rooms/591221838086690180,20220912200234,2022-09-13,previous scrape,Maison chaleureuse avec piscine pr√®s de Bordeaux,Bienvenue dans notre maison ! <br />C'est notr...,Nous sommes situ√©s √† 20 min de la gare de bord...,https://a0.muscache.com/pictures/miso/Hosting-...,5220890,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
10881,50594474,https://www.airbnb.com/rooms/50594474,20220912200234,2022-09-13,city scrape,Le clos des vignes****,√Ä 20 minutes de Bordeaux et √† 3 minutes des so...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,408562043,...,4.95,4.74,4.83,NaN,f,2,2,0,0,5.73
10882,556379338554707629,https://www.airbnb.com/rooms/556379338554707629,20220912200234,2022-09-13,city scrape,escale gourmande au coeur des vignobles,studio independant comportant:<br /><br /> une...,quartier calme ambiance vigne et campagne √† 2 ...,https://a0.muscache.com/pictures/6349e9f7-cdce...,62440676,...,4.77,4.73,4.64,NaN,t,3,2,1,0,6.11
10883,16789721,https://www.airbnb.com/rooms/16789721,20220912200234,2022-09-13,previous scrape,Logement aux portes de Bordeaux et de l'oc√©an,"Situ√© au d√©part de la route des ch√¢teaux, √† 10...",Quartier calme,https://a0.muscache.com/pictures/miso/Hosting-...,111565429,...,5.00,4.88,4.88,NaN,t,1,1,0,0,0.26
10884,678024184489558143,https://www.airbnb.com/rooms/678024184489558143,20220912200234,2022-09-13,previous scrape,Jolie maison familiale avec jardin paysag√©,Notre maison familiale se situe dans un lotiss...,Notre maison se trouve dans un petit lotisseme...,https://a0.muscache.com/pictures/miso/Hosting-...,23002270,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN

In [106]:
pf["Bath"] = pf["bathrooms_text"]

In [107]:
pf["Bath"].unique()

<StringArray>
[        '1.5 baths',           '3 baths',            '1 bath',
    '1 private bath',                <NA>,           '2 baths',
     '1 shared bath',  'Shared half-bath',           '4 baths',
           '8 baths',           '5 baths',         '4.5 baths',
         '2.5 baths',           '0 baths',  '1.5 shared baths',
         '3.5 baths',         'Half-bath',    '3 shared baths',
           '6 baths',         '5.5 baths',           '7 baths',
    '0 shared baths',  '2.5 shared baths', 'Private half-bath',
    '2 shared baths',         '6.5 baths',    '4 shared baths',
        '11.5 baths',         '7.5 baths']
Length: 29, dtype: string

In [108]:
pf["Bath"] = pf["Bath"].str.replace("baths","bath")

In [109]:
pf["Bath"] = pf["Bath"].str.lower()

In [110]:
# pf[["nb","type"]] = pf["Bath"].str.split(" ",1,expand=True)

In [111]:
pf["Bath"] = pf["Bath"].str.replace("private bath","2")

In [112]:
pf["Bath"] = pf["Bath"].str.replace("shared half-bath","1 0.25")

In [113]:
pf["Bath"] = pf["Bath"].str.replace("private half-bath","1 1")

In [114]:
pf["Bath"] = pf["Bath"].str.replace("half-bath","1 0.5")

In [115]:
pf["Bath"] = pf["Bath"].str.replace("shared bath","0.5")

In [116]:
pf["Bath"] = pf["Bath"].str.replace("bath","1")

In [117]:
#pf["Bath"] = pf["Bath"].str.replace("half-bath","0.5-")

In [118]:
pf["Bath"].dropna()

0        1.5 1
1          3 1
2          1 1
3          1 1
4          1 1
         ...
10880      2 1
10881      1 1
10882      1 1
10883      1 1
10884      1 1
Name: Bath, Length: 10876, dtype: string

In [119]:
pf.Bath.dropna().unique()

<StringArray>
[  '1.5 1',     '3 1',     '1 1',     '1 2',     '2 1',   '1 0.5',  '1 0.25',
     '4 1',     '8 1',     '5 1',   '4.5 1',   '2.5 1',     '0 1', '1.5 0.5',
   '3.5 1',   '3 0.5',     '6 1',   '5.5 1',     '7 1',   '0 0.5', '2.5 0.5',
   '2 0.5',   '6.5 1',   '4 0.5',  '11.5 1',   '7.5 1']
Length: 26, dtype: string

In [120]:
pf[["nb","type"]] = pf["Bath"].str.split(" ",1,expand=True)

/tmp/ipykernel_5780/548100858.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  pf[["nb","type"]] = pf["Bath"].str.split(" ",1,expand=True)

In [121]:
pfNb = pf.nb.dropna()
pfNb

0        1.5
1          3
2          1
3          1
4          1
        ...
10880      2
10881      1
10882      1
10883      1
10884      1
Name: nb, Length: 10876, dtype: string

In [122]:
pf["Bath"].unique()

<StringArray>
[  '1.5 1',     '3 1',     '1 1',     '1 2',      <NA>,     '2 1',   '1 0.5',
  '1 0.25',     '4 1',     '8 1',     '5 1',   '4.5 1',   '2.5 1',     '0 1',
 '1.5 0.5',   '3.5 1',   '3 0.5',     '6 1',   '5.5 1',     '7 1',   '0 0.5',
 '2.5 0.5',   '2 0.5',   '6.5 1',   '4 0.5',  '11.5 1',   '7.5 1']
Length: 27, dtype: string

In [123]:
pfType = pf.type.dropna()
pfType

0        1
1        1
2        1
3        1
4        1
        ..
10880    1
10881    1
10882    1
10883    1
10884    1
Name: type, Length: 10876, dtype: string

In [124]:
pf["nb"]=pf["nb"].astype(float)
pf["type"]=pf["type"].astype(float)

In [125]:
pf["popo"] = pf["nb"]*pf["type"]

In [148]:
lesbath= pf.nb.groupby(pf.popo).count()

VOICI LA REPONSE A LA QUESTION SUR LES BATHS

In [149]:
lesbath.to_csv("lesbath.csv")

ON A ENFIN NOTRE REPONSE

In [127]:
pf.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month',
       'Bath', 'nb', 'type', 'popo'],
      dtype='object')

on se demande si il y a une correlation entre la taille de la description et le nombre de reviews

In [128]:
pf.nb

0        1.5
1        3.0
2        1.0
3        1.0
4        1.0
        ...
10880    2.0
10881    1.0
10882    1.0
10883    1.0
10884    1.0
Name: nb, Length: 10885, dtype: float64

In [129]:
pf.description

0        Dans le centre historique de Bourg, id√©alement...
1        Villa moderne id√©alement situ√©e entre Bordeaux...
2        <b>The space</b><br />The Bambooyard  : "Le cl...
3        <b>The space</b><br />In the heart of the hist...
4        BOOK A STREET ART HOUSE! Cozy, colorful and cl...
                               ...
10880    Bienvenue dans notre maison ! <br />C'est notr...
10881    √Ä 20 minutes de Bordeaux et √† 3 minutes des so...
10882    studio independant comportant:<br /><br /> une...
10883    Situ√© au d√©part de la route des ch√¢teaux, √† 10...
10884    Notre maison familiale se situe dans un lotiss...
Name: description, Length: 10885, dtype: object

In [130]:
pf["description"] = pf.description.astype("string")

In [131]:
pf = pf.dropna(subset=['description'])

In [132]:
pf["lenghth"] = pf.description.apply(len)

/tmp/ipykernel_5780/320712926.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pf["lenghth"] = pf.description.apply(len)

In [133]:
pf["lenghth"].unique()

array([1000,  912,  905,  293,  865,  273,  266,  813,  509,  921,  923,
        627,  834,  862,  629,  585,  975,  527,  946,  403,  204,  412,
        677,  483,  969,  664,  246,  120,  386,  750,  819,  808,  802,
        292,  820,  551,  488,  950,  493,  277,  307,  392,  644,  674,
        733,  264,  504,  570,  774,  647,  789,  860,  588,  498,  829,
        417,  330,  479,  751,  625,  675,  532,  257,  806,  828,  858,
        365,  383,  804,  593,  775,  679,  433,  534,  980,  332,  889,
        379,  269,  453,  275,  724,  236,  244,  748,  992,  917,  253,
        688,  250,  211,  853,  194,  526,  822,  468,  245,  602,  258,
        442,  831,  282,  555,  941,  564,  506,  419,  290,  867,  312,
        274,  796,  343,  554,  553,  833,  329,  599,  228,  735,  626,
        335,  199,  135,  899,  242,  743,  995,  157,  259,  233,  306,
        913,  633,  836,  387,  827,  953,  247,  202,  103,  437,  942,
        535,  920,  474,  545,  151,  256,  478,  380,  558,  715,  248,
        801,  187,  784,  736,  285,  226,  639,  954,  289,  793,  569,
        611,  466,  738,  660,  249,  769,  984,   71,  710,  656,  252,
        596,  235,  251,  325,  709,  915,  727,  363,  943,  455,   86,
        500,  799,  759,  922,  496,  227,  719,  726,  351,  762,  520,
        742,  848,  415,  463,  778,  565,  441,  838,  910,  146,  150,
        356,  153,  945,  263,  816,  310,  513,  521,  600,  516,  868,
        575,  845,  502,  425,  388,  699,  728,  961,  549,  271,  757,
        174,  803,  760,  708,  166,  260,   26,  880,   58,  220,  897,
         50,  170,  207,  595,  773,  428,   27,  339,  482,  429,  560,
        270,  785,  657,  871,  180,  378,  916,  539,   75,  445,  382,
        219,  125,  304,  447,  973,  487,  237,  344,  703,  563,  805,
        231,  265,  882,  464,  766,  616,  791,  389,  430,  262,   33,
        522,  645,  607,  556,  809,  665,  939,  872,  698,  758,  737,
        983,  771,  798,  254,  581,  787,  533,  776,  970,  739,  717,
        835,  843,  924,  965,  676,  779,  353,  406,  968,  947,  685,
        374,  422,  580,  993,  631,  352,  155,  538,  283,  683,  592,
        846,  723,  635,  243,  909,   16,  887,  837,  877,   39,  142,
         36,  574,  240,  108,  255,  874,  431,  342,  851,  505,  740,
        962,   95,  919,  612,  212,  484,  672,  949,  232,  346,  911,
        432,  694,  562,  229,  952,  280,  904,  200,  338,  687,  198,
        586,  203,  540,  800,  589,  333,  763,  693,  552,   76,  696,
        525,  890,  826,  163,  217,  824,  205,  139,  546,  216,  788,
        159,  547,  201,  741,  397,  192,   48,  225,  140,  222,   66,
        169,  134,  411,  136,  175,  318,  413,  642,  876,  721,   90,
        448,  364,  489,  301,  634,  499,  239,  410,  630,  883,  702,
        937,  691,  608,  347,  519,  214,  764,  190,  475,  331,  391,
        929,  465,  670,  355,  161,  358,  682,  885,  454,  405,  178,
        173,  606,  446,  958,  316,  700,  926,  863,  308,  116,  991,
        997,  261,  772,  156,  839,  662,  577,  213,  400,  714,  395,
        881,  472,  268,  279,  568,  594,  460,  907,  518,  932,  888,
        752,   74,  162,  901,  732,  718,  667,  436,  210,  165,  959,
        866,  770,  643,  637,  650,  224,  567,  756,  399,  423,  873,
        457,  121,  149,  598,  730,  449,  215,  267,  697,  221,  276,
        994,  655,  725,  653,   67,  426,   41,  193,  439,  878,  480,
        861,  297,  578,  315,  218,  978,  303,  462,  744,  177,  144,
        541,  531,  148,  815,  490,  706,  849,  515,  749,    1,  619,
        209,  597,  543,  624,  418,  967,  375,  184,  372,  366,  291,
        746,  451,  622,  523,  854,  481,  420,  470,  158,  893,  971,
        989,  111,  320,  841,   93,  957,  371,  458,  171,  191,  948,
        998,  561,  323,  508,  278,  537,  492,  497,  659,  381,  956,
        110,  584,  940,  663,  510,  119,  234,  491,  812,  486,  390,
        503,  990,  408,  377,  385,  590,  456,  548,  322,  168,   96,
        467,  376,  361,  281,  327,  305,  321,  536,  296,  610,  977,
        444,  369,  145,  790,  494,  238,  512,  579,  495,  359,  892,
        934,  810,  349,  935,  182,  319,  987,  340,  295,  918,   70,
        434,  684,  314,  511,  324,  485,  421,  623,  767,  747,  974,
        908,  452,  473,  398,  167,  517,  666,  272,  311,  777,  707,
        524,  328,  832,  298,  566,  507,  712,  695,  795,  284,  825,
        985,  154,   55,  528,  286,  530,  104,  367,  126,  651,  114,
        341,  648,  469,  196,  930,  105,  618,  855,  988,  638,  544,
        898,  982,  783,  891,  591,  830,  334,  938,   49,  176,   54,
        299,   40,  414,  979,  185,  745,  501,  127,  621,  360,  713,
        615,  960,  195,  711,  692,  357,   59,   99,  850,  550,  409,
        640,  840,  164,  186,   38,  999,  729,  402,  130,  557,  294,
        427,  734,  571,  601,  731,  754,   13,  944,   29,  300,  471,
        761,  852,  572,  138,    5,  966,  393,  362,  814,  117,   72,
        902,  755,  188,  287,   68,  208,  864,  903,  152,  933,  183,
        189,  438,  350,  313,  955,  124,  884,  514,  857,  373,  112,
        128,  529,  160,  583,  370,   23,  459,  681,   63,  658,  797,
        443,  613,  716,  856,  132,  336,   69,  823,  609,  894,  842,
        559,  895,  652,  241,  394,   46,   42,  614,  416,   97,   37,
        617,  870,   45,   62,   79,  542,  900,  582,   35,  131,   80,
        972,  603,  348,  573,  951,  172,  690,  906,   34,  704,  106,
        302,  869,  620,  765,  424,  587,   84,  100,  671,  886,   52,
        435,  636,  964,  407,  720,  641,  401,  450,  925,  440,  206,
        317,  115,  896,  705,   17,  628,  668,  927,  576,  101,  875,
        786,  345,  847,  807,  794,  223,  661,  141,  396,   15,  113,
        649,  844,   91,   20,   98,  384,  722,   14,   61,  689,  654,
        123,   60,  782,  143,  337,  368,  309,  818,  981,  753,  354,
        996,  605,  197,  669,  780,  931,  461,   43,  821,  928,   77,
        792,   64,  859,   88,   85,   89,  326,  678,  632,   53,  768,
        781,  673,   83,   56,  914,  680,  181,  137,  109,  477,  147,
        404,   32,  986,  646,  604,  102,   57,  811,  963,   92,  817,
        686,   81,   31,  476,   73,  879,    3,  976,   44,   87,  936,
         94,  230,   82,  107,  179,  701,  118,    9,   51])

In [134]:
pf.number_of_reviews.corr(pf["lenghth"])

0.18421675289228953

VOICI NOTRE REPONSE POUR LA CORROLATION

il y a une l√©g√®re corrolation

In [135]:
pf.name

0        Appartement cosy dans centre historique de Bourg
1          Maison de vacances entre Bordeaux et le Bassin
2                      B&B Apart.Suite  / tropical garden
3                            INCROYABLE T3 EN HYPERCENTRE
4           Spacious house, 4 guests with Garden & Garage
                               ...
10880    Maison chaleureuse avec piscine pr√®s de Bordeaux
10881                              Le clos des vignes****
10882             escale gourmande au coeur des vignobles
10883       Logement aux portes de Bordeaux et de l'oc√©an
10884          Jolie maison familiale avec jardin paysag√©
Name: name, Length: 10701, dtype: object

In [136]:
pf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10701 entries, 0 to 10884
Data columns (total 80 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            10701 non-null  int64
 1   listing_url                                   10701 non-null  object
 2   scrape_id                                     10701 non-null  int64
 3   last_scraped                                  10701 non-null  object
 4   source                                        10701 non-null  object
 5   name                                          10701 non-null  object
 6   description                                   10701 non-null  string
 7   neighborhood_overview                         6508 non-null   object
 8   picture_url                                   10701 non-null  object
 9   host_id                                       10701 non-null  int64
 10  host_url                                      10701 non-null  object
 11  host_name                                     10701 non-null  object
 12  host_since                                    10701 non-null  object
 13  host_location                                 8881 non-null   object
 14  host_about                                    4195 non-null   object
 15  host_response_time                            6951 non-null   object
 16  host_response_rate                            6951 non-null   object
 17  host_acceptance_rate                          7459 non-null   object
 18  host_is_superhost                             10701 non-null  object
 19  host_thumbnail_url                            10701 non-null  object
 20  host_picture_url                              10701 non-null  object
 21  host_neighbourhood                            3273 non-null   object
 22  host_listings_count                           10701 non-null  int64
 23  host_total_listings_count                     10701 non-null  int64
 24  host_verifications                            10701 non-null  object
 25  host_has_profile_pic                          10701 non-null  object
 26  host_identity_verified                        10701 non-null  object
 27  neighbourhood                                 6508 non-null   object
 28  neighbourhood_cleansed                        10701 non-null  object
 29  neighbourhood_group_cleansed                  10701 non-null  object
 30  latitude                                      10701 non-null  float64
 31  longitude                                     10701 non-null  float64
 32  property_type                                 10701 non-null  object
 33  room_type                                     10701 non-null  object
 34  accommodates                                  10701 non-null  int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                10694 non-null  string
 37  bedrooms                                      9710 non-null   float64
 38  beds                                          10578 non-null  float64
 39  amenities                                     10701 non-null  object
 40  price                                         10701 non-null  object
 41  minimum_nights                                10701 non-null  int64
 42  maximum_nights                                10701 non-null  int64
 43  minimum_minimum_nights                        10701 non-null  int64
 44  maximum_minimum_nights                        10701 non-null  int64
 45  minimum_maximum_nights                        10701 non-null  int64
 46  maximum_maximum_nights                        10701 non-null  int64
 47  minimum_nights_avg_ntm                        10701 non-null  float64
 48  maximum_nights_avg_ntm                        10701 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              10701 non-null  object
 51  availability_30                               10701 non-null  int64
 52  availability_60                               10701 non-null  int64
 53  availability_90                               10701 non-null  int64
 54  availability_365                              10701 non-null  int64
 55  calendar_last_scraped                         10701 non-null  object
 56  number_of_reviews                             10701 non-null  int64
 57  number_of_reviews_ltm                         10701 non-null  int64
 58  number_of_reviews_l30d                        10701 non-null  int64
 59  first_review                                  9127 non-null   object
 60  last_review                                   9127 non-null   object
 61  review_scores_rating                          9127 non-null   float64
 62  review_scores_accuracy                        9030 non-null   float64
 63  review_scores_cleanliness                     9032 non-null   float64
 64  review_scores_checkin                         9028 non-null   float64
 65  review_scores_communication                   9030 non-null   float64
 66  review_scores_location                        9028 non-null   float64
 67  review_scores_value                           9028 non-null   float64
 68  license                                       3806 non-null   object
 69  instant_bookable                              10701 non-null  object
 70  calculated_host_listings_count                10701 non-null  int64
 71  calculated_host_listings_count_entire_homes   10701 non-null  int64
 72  calculated_host_listings_count_private_rooms  10701 non-null  int64
 73  calculated_host_listings_count_shared_rooms   10701 non-null  int64
 74  reviews_per_month                             9127 non-null   float64
 75  Bath                                          10694 non-null  string
 76  nb                                            10694 non-null  float64
 77  type                                          10694 non-null  float64
 78  popo                                          10694 non-null  float64
 79  lenghth                                       10701 non-null  int64
dtypes: float64(19), int64(24), object(34), string(3)
memory usage: 6.6+ MB

On suspecte des faux commentaires. Pour identifier cela on regarde les s√©jours o√π le nom de l‚Äôhost est le m√™me que le nom du reviewer. Quel est ce pourcentage g√©n√©ral de s√©jour o√π le nom de l'host est identique au nom du reviewer?

comme on a pas le nom du reviewer dans listing , mais dans reviews , on va devoir "merge" listingsB et reviews

In [137]:
revdf = pd.read_csv("reviewsdet.csv")

In [138]:
pf["comments"]= pf["description"]

/tmp/ipykernel_5780/3741415836.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pf["comments"]= pf["description"]

In [139]:
revdf.columns

Index(['listing_id', 'id', 'date', 'reviewer_id', 'reviewer_name', 'comments'], dtype='object')

In [140]:
revdf.reviewer_id

0            610681
1           2005513
2           1937156
3           2001261
4           1766812
            ...
306351     40877952
306352    151433357
306353    422815067
306354    270567347
306355      7357008
Name: reviewer_id, Length: 306356, dtype: int64

In [141]:
pp = pf.merge(revdf, left_on='id', right_on='listing_id')

In [142]:
tricheur = pp[pp['host_name']==pp['reviewer_name']].shape[0]

In [143]:
tricheur

561

In [144]:
equal_percent = tricheur/pp.shape[0]*100

In [145]:
pp.shape[0]

304879

In [146]:
equal_percent

0.1840074258968312

In [155]:
pf

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,Bath,nb,type,popo,lenghth,comments
0,579652405189065070,https://www.airbnb.com/rooms/579652405189065070,20220912200234,2022-09-12,city scrape,Appartement cosy dans centre historique de Bourg,"Dans le centre historique de Bourg, id√©alement...",Vous vous situez dans le centre historique de ...,https://a0.muscache.com/pictures/miso/Hosting-...,15134863,...,1,0,0,2.74,1.5 1,1.5,1.0,1.5,1000,"Dans le centre historique de Bourg, id√©alement..."
1,49797548,https://www.airbnb.com/rooms/49797548,20220912200234,2022-09-12,city scrape,Maison de vacances entre Bordeaux et le Bassin,Villa moderne id√©alement situ√©e entre Bordeaux...,Ballades √† pied ou √† v√©lo dans la foret: 5 v√©l...,https://a0.muscache.com/pictures/miso/Hosting-...,83677621,...,1,0,0,0.21,3 1,3.0,1.0,3.0,912,Villa moderne id√©alement situ√©e entre Bordeaux...
2,218103,https://www.airbnb.com/rooms/218103,20220912200234,2022-09-13,city scrape,B&B Apart.Suite / tropical garden,"<b>The space</b><br />The Bambooyard : ""Le cl...",NaN,https://a0.muscache.com/pictures/9ba23c8f-4780...,1127981,...,4,0,0,0.44,1 1,1.0,1.0,1.0,1000,"<b>The space</b><br />The Bambooyard : ""Le cl..."
3,1117474,https://www.airbnb.com/rooms/1117474,20220912200234,2022-09-13,city scrape,INCROYABLE T3 EN HYPERCENTRE,<b>The space</b><br />In the heart of the hist...,NaN,https://a0.muscache.com/pictures/20359851/80f7...,6133211,...,1,0,0,3.31,1 1,1.0,1.0,1.0,1000,<b>The space</b><br />In the heart of the hist...
4,1136724,https://www.airbnb.com/rooms/1136724,20220912200234,2022-09-12,city scrape,"Spacious house, 4 guests with Garden & Garage","BOOK A STREET ART HOUSE! Cozy, colorful and cl...",NaN,https://a0.muscache.com/pictures/b876925a-2b69...,3774373,...,4,0,0,4.36,1 1,1.0,1.0,1.0,1000,"BOOK A STREET ART HOUSE! Cozy, colorful and cl..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10880,591221838086690180,https://www.airbnb.com/rooms/591221838086690180,20220912200234,2022-09-13,previous scrape,Maison chaleureuse avec piscine pr√®s de Bordeaux,Bienvenue dans notre maison ! <br />C'est notr...,Nous sommes situ√©s √† 20 min de la gare de bord...,https://a0.muscache.com/pictures/miso/Hosting-...,5220890,...,1,0,0,NaN,2 1,2.0,1.0,2.0,1000,Bienvenue dans notre maison ! <br />C'est notr...
10881,50594474,https://www.airbnb.com/rooms/50594474,20220912200234,2022-09-13,city scrape,Le clos des vignes****,√Ä 20 minutes de Bordeaux et √† 3 minutes des so...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,408562043,...,2,0,0,5.73,1 1,1.0,1.0,1.0,1000,√Ä 20 minutes de Bordeaux et √† 3 minutes des so...
10882,556379338554707629,https://www.airbnb.com/rooms/556379338554707629,20220912200234,2022-09-13,city scrape,escale gourmande au coeur des vignobles,studio independant comportant:<br /><br /> une...,quartier calme ambiance vigne et campagne √† 2 ...,https://a0.muscache.com/pictures/6349e9f7-cdce...,62440676,...,2,1,0,6.11,1 1,1.0,1.0,1.0,809,studio independant comportant:<br /><br /> une...
10883,16789721,https://www.airbnb.com/rooms/16789721,20220912200234,2022-09-13,previous scrape,Logement aux portes de Bordeaux et de l'oc√©an,"Situ√© au d√©part de la route des ch√¢teaux, √† 10...",Quartier calme,https://a0.muscache.com/pictures/miso/Hosting-...,111565429,...,1,0,0,0.26,1 1,1.0,1.0,1.0,1000,"Situ√© au d√©part de la route des ch√¢teaux, √† 10..."
10884,678024184489558143,https://www.airbnb.com/rooms/678024184489558143,20220912200234,2022-09-13,previous scrape,Jolie maison familiale avec jardin paysag√©,Notre maison familiale se situe dans un lotiss...,Notre maison se trouve dans un petit lotisseme...,https://a0.muscache.com/pictures/miso/Hosting-...,23002270,...,1,0,0,NaN,1 1,1.0,1.0,1.0,1000,Notre maison familiale se situe dans un lotiss...